<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index 页面</title>
</head>
<body>
    <input type="button" value="修改缓存" onclick="updateCache()">
    <input type="button" value="获取缓存" onclick="getCache()">
</body>
<script type="text/javascript">
    function updateCache() {
        // alert('updateCache');
        //创建异步对象
        var xhr = new XMLHttpRequest();
        //设置请求的类型及url
        //post请求一定要添加请求头才行不然会报错
        xhr.open('post', 'updateCache' );
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        //发送请求
        xhr.send();
        xhr.onreadystatechange = function () {
            // 这步为判断服务器是否正确响应
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);
            }
        };
    }

    function getCache() {
        // alert('getCache');
        //创建异步对象
        var xhr = new XMLHttpRequest();
        //设置请求的类型及url
        //post请求一定要添加请求头才行不然会报错
        xhr.open('post', 'getCache' );
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        //发送请求
        xhr.send();
        xhr.onreadystatechange = function () {
            // 这步为判断服务器是否正确响应
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);
            }
        };
    }
</script>
</html>